.ligo
.ligo/repository_id
.ligo/term_acceptance
_ligo
ligo.esy.lock
compiled
scripts/node_modules
scripts/*.js
scripts/tests/*.js
scripts/fixtures/*.js
scripts/utils/*.js
scripts/manual/*.js
scripts/package-lock.json
deployments/*.js
src/lib/*.js
src/addresses/*.js
src/compiledContracts/*.js
tezos-lib-sig-gating-extendable/compiled
